* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Symbols", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.header {
  background-color: rgb(233, 237, 241);
}
.header__container {
  background-color: #fff;
  max-width: 600px;
}

.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__link {
  display: inline-block;
  min-width: 200px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 12px;
  cursor: pointer;
  color: #000;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.header__link:hover {
  background-color: rgb(147, 166, 249);
  color: #fff;
}
