* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Symbols", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}

.radio {
  background-color: rgb(233, 237, 241);
}

.radio__container {
  max-width: 376px;
  background-color: #fff;
}
.header-top {
  background-color: #f8f8f8;
  margin: 8px 8px 0 8px;
  padding-top: 32px;
  padding-left: 32px;
}
.title {
  display: inline-block;
  margin-bottom: 8px;
  color: #666666;
  font-size: 12px;
}
.radio__heading {
  margin-bottom: 32px;
}
.heading {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 23px;
}

/* radio form */
.radio__form_g10 {
  margin-left: 40px;
  margin-bottom: 64px;
  display: flex;
  column-gap: 10px;
}
.radio__form_32 {
  margin-left: 40px;
  margin-bottom: 64px;
  display: flex;
  column-gap: 32px;
}
.radio__form_22 {
  margin-left: 40px;
  margin-bottom: 32px;
  display: flex;
  column-gap: 32px;
}
.radio__form-option {
  margin-left: 37px;
  margin-bottom: 64px;
  display: flex;
  column-gap: 8px;
}
.radio__form-option_flcol {
  margin-left: 40px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.radio__form_flcol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.radio__box-fl {
  max-width: 170px;
  display: flex;
  margin-bottom: 141px;
}
.subtitle {
  font-size: 12px;
  color: #666666;
}
/* radio-1 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-1"] {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
label[for="radio-1"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: 0;
}
label[for="radio-1"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 35.8px;
  left: 4px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-1"]::after {
  opacity: 1;
}

/* radio-2 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-2"] {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
label[for="radio-2"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: 0;
}
label[for="radio-2"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 35.8px;
  left: 4px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-2"]::after {
  opacity: 1;
}

/* radio-3 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-3"] {
  cursor: pointer;
  position: relative;
  top: 32px;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="radio-3"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 5px;
}
label[for="radio-3"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.12px;
  left: 8.9px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-3"]::after {
  opacity: 1;
}

/* radio-4 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-4"] {
  cursor: pointer;
  position: relative;
  top: 32px;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="radio-4"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 5px;
}
label[for="radio-4"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.12px;
  left: 8.9px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-4"]::after {
  opacity: 1;
}

/* radio-5 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-5"] {
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="radio-5"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="radio-5"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.9px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-5"]::after {
  opacity: 1;
}

/* radio-6 */
input[type="radio"] {
  appearance: none;
}
label[for="radio-6"] {
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="radio-6"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="radio-6"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.9px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="radio-6"]::after {
  opacity: 1;
}

/* radio example */
.heading {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 23px;
}
.radio__heading {
  margin-left: 40px;
}

.radio__form-num {
  margin-left: 37px;
  max-width: 304px;
  display: flex;
  column-gap: 10px;
}

/* num-1 */
input[type="radio"] {
  appearance: none;
}
label[for="num-1"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-1"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-1"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-1"]::after {
  opacity: 1;
}

/* num-2 */
input[type="radio"] {
  appearance: none;
}
label[for="num-2"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-2"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-2"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-2"]::after {
  opacity: 1;
}

/* num-3 */
input[type="radio"] {
  appearance: none;
}
label[for="num-3"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-3"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-3"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-3"]::after {
  opacity: 1;
}

/* num-4 */
input[type="radio"] {
  appearance: none;
}
label[for="num-4"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-4"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-4"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-4"]::after {
  opacity: 1;
}

/* num-5 */
input[type="radio"] {
  appearance: none;
}
label[for="num-5"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-5"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-5"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-5"]::after {
  opacity: 1;
}

/* num-6 */
input[type="radio"] {
  appearance: none;
}
label[for="num-6"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-6"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-6"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-6"]::after {
  opacity: 1;
}

/* num-7 */
input[type="radio"] {
  appearance: none;
}
label[for="num-7"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-7"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-7"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-7"]::after {
  opacity: 1;
}

/* num-8 */
input[type="radio"] {
  appearance: none;
}
label[for="num-8"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-8"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-8"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-8"]::after {
  opacity: 1;
}

/* num-9 */
input[type="radio"] {
  appearance: none;
}
label[for="num-9"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="num-9"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-9"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-9"]::after {
  opacity: 1;
}

/* num-10 */
input[type="radio"] {
  appearance: none;
}
label[for="num-10"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 64px;
}
label[for="num-10"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -5px;
}
label[for="num-10"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -20.1px;
  left: -1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="num-10"]::after {
  opacity: 1;
}

/* option-1 */
input[type="radio"] {
  appearance: none;
}
label[for="option-1"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-1"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-1"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-1"]::after {
  opacity: 1;
}

/* option-2 */
input[type="radio"] {
  appearance: none;
}
label[for="option-2"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-2"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-2"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-2"]::after {
  opacity: 1;
}

/* option-3 */
input[type="radio"] {
  appearance: none;
}
label[for="option-3"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-3"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-3"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-3"]::after {
  opacity: 1;
}

/* option-4 */
input[type="radio"] {
  appearance: none;
}
label[for="option-4"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-4"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-4"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-4"]::after {
  opacity: 1;
}

/* option-5 */
input[type="radio"] {
  appearance: none;
}
label[for="option-5"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-5"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-5"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-5"]::after {
  opacity: 1;
}

/* option-6 */
input[type="radio"] {
  appearance: none;
}
label[for="option-6"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-6"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-6"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-6"]::after {
  opacity: 1;
}

/* option-7 */
input[type="radio"] {
  appearance: none;
}
label[for="option-7"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-7"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-7"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-7"]::after {
  opacity: 1;
}

/* option-8 */
input[type="radio"] {
  appearance: none;
}
label[for="option-8"] {
  cursor: pointer;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-8"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 13px;
}
label[for="option-8"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -21.1px;
  left: 17px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-8"]::after {
  opacity: 1;
}

/* option-9 */
input[type="radio"] {
  appearance: none;
}
label[for="option-9"] {
  cursor: pointer;
  position: relative;
  left: 55px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-9"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="option-9"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.8px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-9"]::after {
  opacity: 1;
}

/* option-10 */
input[type="radio"] {
  appearance: none;
}
label[for="option-10"] {
  cursor: pointer;
  position: relative;
  left: 55px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-10"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="option-10"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.8px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-10"]::after {
  opacity: 1;
}

/* option-11 */
input[type="radio"] {
  appearance: none;
}
label[for="option-11"] {
  cursor: pointer;
  position: relative;
  left: 55px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-11"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="option-11"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.8px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-11"]::after {
  opacity: 1;
}

/* option-12 */
input[type="radio"] {
  appearance: none;
}
label[for="option-12"] {
  cursor: pointer;
  position: relative;
  left: 55px;
  bottom: 0px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
label[for="option-12"]::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -25px;
}
label[for="option-12"]::after {
  content: "";
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 3.8px;
  left: -21.1px;
  opacity: 0;
}
input[type="radio"]:checked + label[for="option-12"]::after {
  opacity: 1;
}
